body
{
    background-image: url('recursos/fondo.jpg'); 	
    background-size: 100%;
    background-repeat: no-repeat;
    color:white;
}
#nombre
{
	float: right;
	margin-top: 2em;
	margin-right: 1em;
	text-align: center;
	font-size: 2.5em;
	font-style: italic;
}
#contenido
{
    width:30%;
    height:21.5em;
    margin-top:11em;
    margin-left:35em;
    border: 0.35em solid ivory;
    border-radius:0.5em;
    vertical-align: middle;
}
#tituloform
{
	color: white;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
#datosform tr td
{
	color: white;
	padding: 1em 1em 0em 1em;
	font-size: 1.3em;
}